$primary-text: rgba(0,0,0,0.7);
$primary-text-hover: rgba(0,0,0,1);
$primary-text-light: rgba(255,255,255,0.7);
$primary-text-light-hover: rgba(255,255,255,1);
$bg-header: #E91E63;

@mixin scale($by){
  transform: scale($by);
  -webkit-transform: scale($by);
  -ms-transform: scale($by);
  -o-transform: scale($by);
  -moz-transform: scale($by);
}

body{
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

#header{
  background-color: $bg-header;
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: right;
}

#calendar{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 5rem;

  .day{
    position: relative;
    flex-grow: 1;
    flex-basis: 13%;
    font-size: 4rem;
    color: $primary-text;
    align-content: center;
    text-align: center;
    padding: 0.5rem 0;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    margin: 2px;
    background-size: cover;
    

    &:hover{
      @include scale(1.02);
      color: $primary-text-hover;
    }

    & .project-title{ 
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 0.9rem;
      font-weight: bold;
      background-color: rgba(255,255,255,0.5);
    }

    &:nth-child(1){
      background-image: url("../img/day1-drums.png");
    }

    &:nth-child(2){
      background-image: url('../img/day2-clock.png');
    }

    &:nth-child(3){
      background-image: url('../img/day3-variables.png');
    }
   
    &:nth-child(4){
      background-image: url('../img/rosie.jpeg');
    }
    &:nth-child(5){
      background-image: url('../img/day5-flexgallery.png');
    }
    &:nth-child(6){
      background-image: url('../img/day6-type-ahead.jpg');
    }
    &:nth-child(7){
      background-image: url('../img/day7-workout.jpg');
    }
    &:nth-child(8){
      background-image: url('../img/Day8-Canvas.jpg');
    }
    &:nth-child(9){
      background-image: url('../img/day9-consolelog.png');
    }
    &:nth-child(10){
      background-image: url('../img/Day10-Octopus.jpg');
    }
    &:nth-child(11){
      background-image: url('../img/day11-xray.jpg');
    }
    &:nth-child(12){
      background-image: url('../img/Day12-KonamiCode.jpg');
    }

  }
}
