body {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

#header {
  background-color: #E91E63;
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: right; }

#calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 5rem; }
  #calendar .day {
    position: relative;
    flex-grow: 1;
    flex-basis: 13%;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.7);
    align-content: center;
    text-align: center;
    padding: 0.5rem 0;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    margin: 2px;
    background-size: cover; }
    #calendar .day:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      -moz-transform: scale(1.02);
      color: black; }
    #calendar .day .project-title {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 0.9rem;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.5); }
    #calendar .day:nth-child(1) {
      background-image: url("../img/day1-drums.png"); }
    #calendar .day:nth-child(2) {
      background-image: url("../img/day2-clock.png"); }
    #calendar .day:nth-child(3) {
      background-image: url("../img/day3-variables.png"); }
    #calendar .day:nth-child(4) {
      background-image: url("../img/rosie.jpeg"); }
    #calendar .day:nth-child(5) {
      background-image: url("../img/day5-flexgallery.png"); }
    #calendar .day:nth-child(6) {
      background-image: url("../img/day6-type-ahead.jpg"); }
    #calendar .day:nth-child(7) {
      background-image: url("../img/day7-workout.jpg"); }
    #calendar .day:nth-child(8) {
      background-image: url("../img/Day8-Canvas.jpg"); }
    #calendar .day:nth-child(9) {
      background-image: url("../img/day9-consolelog.png"); }
    #calendar .day:nth-child(10) {
      background-image: url("../img/Day10-Octopus.jpg"); }
    #calendar .day:nth-child(11) {
      background-image: url("../img/day11-xray.jpg"); }
    #calendar .day:nth-child(12) {
      background-image: url("../img/Day12-KonamiCode.jpg"); }
    #calendar .day:nth-child(13) {
      background-image: url("../img/Day13-SlideIn.jpg"); }
